.projection {
    border: black 2px solid;
    height: 200px;
    width: 400px;
}

.xy {
    border-color: red;
}

.xz {
    border-color: green;
}

.yz {
    border-color: blue;
}

.background-stroke {
    stroke: #6dcff6;
}

.projection-point {
    fill: blue;
    stroke: #00AEFF;
}