.projection-card{

}

.projection-canvas {
    outline: black 2px solid;
    height: 200px;
    width: 400px;
}

.constant-z {
    outline-color: red;
}

.constant-y {
    outline-color: green;
}

.constant-x {
    outline-color: blue;
}

.background-stroke {
    stroke: #aa735c;
}

.projection-point {
    fill: blue;
    stroke: #00AEFF;
}