.projection {
    outline: black 2px solid;
    height: 200px;
    width: 400px;
}

.xy {
    outline-color: red;
}

.xz {
    outline-color: green;
}

.yz {
    outline-color: blue;
}

.background-stroke {
    stroke: #aa735c;
}

.projection-point {
    fill: blue;
    stroke: #00AEFF;
}